%h2 Resend Confirmation Instructions

.row
  .col-md-offset-3.col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"

      .form-group
        = f.submit "Resend confirmation instructions", class: "btn btn-default"

    = render "devise/shared/links"
