= provide(:title, "Authorize")
- if current_user.nil?
  %p You need to be signed in to view this page.
- else
  .row
    .col-lg-12
      .card
        .card-header
          %h4= "#{@pre_auth.client.name} is requesting partial access to your SpeedRunRacing account."
          %h5
            %span= "Hey #{current_user.display_name}, the application "
            %span.text-info= "#{@pre_auth.client.name} "
            %span is requesting these abilities:
          %p
            %ol
              - @pre_auth.scope.split(' ').each do |scope|
                %li
                  %h5
                    = scope_to_sentence(scope)
                    %small= "(#{scope})"
          %h5
            %spapn= "You can always revoke "
            %span.text-info= "#{@pre_auth.client.name}'s "
            %span permissions later.

          %h5
            %span.text-info= "#{@pre_auth.client.name} "
            %span was created on
            %span.text-info= " #{@pre_auth.client.application.created_at} "
            %span and is owned by 
            %span= link_to @pre_auth.client.application.owner.display_name, user_public_profile_path(@pre_auth.client.application.owner)
            %span . It currently has
            %span.text-info= " #{@pre_auth.client.application.access_tokens.count} active tokens."
          %p
            %span If authorized, you will be redirected to: 
            %span= link_to @pre_auth.client.application.redirect_uri

        .card-footer
          .row
            .col-lg-6
              = form_for oauth_authorization_path, method: :post do |f|
                = hidden_field_tag :client_id, @pre_auth.client.uid
                = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
                = hidden_field_tag :state, @pre_auth.state
                = hidden_field_tag :response_type, @pre_auth.response_type
                = hidden_field_tag :scope, @pre_auth.scope
                = submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: 'btn btn-info btn-lg btn-block'
            .col-lg-6
              = form_for oauth_authorization_path, method: :delete do |f|
                = hidden_field_tag :client_id, @pre_auth.client.uid
                = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
                = hidden_field_tag :state, @pre_auth.state
                = hidden_field_tag :response_type, @pre_auth.response_type
                = hidden_field_tag :scope, @pre_auth.scope
                = submit_tag t('doorkeeper.authorizations.buttons.deny'), class: 'btn btn-primary btn-lg btn-block'
