= provide(:title, "Profile - Edit")
%h2 Edit Profile

.row
  .col-md-offset-3.col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
      = devise_error_messages!

      .form-group
        = f.label :username
        = f.text_field :username, autofocus: true, class: "form-control"

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div= "Currently waiting confirmation for: #{resource.unconfirmed_email}"

      .form-group
        = f.label :display_name
        = f.text_field :display_name, class: "form-control", value: "#{current_user.display_name}"

      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: "form-control"
        - if @minimum_password_length
          %em= "#{@minimum_password_length} characters minimum"

      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

      .form-group
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off", class: "form-control"

      = f.submit "Update", class: "btn btn-default"

.row
  .col-md-6
    .panel.panel-default
      .panel-body{style: 'background: rgba(100, 65, 164, 1); color: #fff;'}
        %span 
          - if @current_user.twitch_name.present?
            ✓ Linked with Twitch as
            %b= @current_user.twitch_name
            .pull-right
              %i.btn.btn-default.disabled Not unlinkable
          - else
            Not linked with Twitch
            .pull-right
              = button_to 'Link', '/auth/twitch', method: :get, class: 'btn btn-default'
      .panel-footer
        .row
          .col-md-12
            - if @current_user.twitch_name.present?
              %a.btn.btn-default{href: "https://twitch.tv/#{@current_user.twitch_name}", target: '_blank'} Visit my Twitch channel
            - else
              You will not be able to particiapte in races until you link a Twitch account.
  .col-md-6
    .panel.panel-danger
      .panel-heading
        Delete my account
      .panel-footer
        This is an irreversable action, only click the button if you are 100% sure you want to erase everything!
        %center
          = button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"
