%h2 Resend Account Unlock Instructions

.row
  .col-lg-offset-3.col-lg-6.col-lg-offset-3
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"

      .form-group
        = f.submit "Resend", class: "btn btn-primary"

    = render "devise/shared/links"
