= provide(:title, "#{@race.game.name} - #{@race.category.name}")
- if @race.closed?
  .alert.alert-danger#race-delete-alert{role: 'alert'}
    This race has been closed and will be deleted soon.
.row.d-block
  .col-lg-8.col-xs-12.float-left
    .row
      .col-lg-8.col-xs-12
        %h4
          = link_to "#{@race.game.name}", game_path(@race.game)
          = " - #{@race.category.name}"
      = render partial: 'shared/race_buttons'
    .row
      .col-lg-4.col-xs-12
        %h4
          #race-status-text{class: race_color(@race)}
            = @race.status_text
      .col-lg-8.col-xs-12
        %h4
          %span Race Time:
          %span#race-duration.format-time{class: @race.in_progress? ? "updating-time" : "", data: {start_time: iso_time_string(@race.start_time)}}
            = @race.started? ? @race.duration : "0:00"

  .col-lg-4.col-xs-12.float-right.mb-3
    #entrants-list
      = render partial: 'races/entrants_table', locals: {race: @race}

  .col-lg-8.col-xs-12.float-left
    #chat-box
      #chat-menu.text-center Chat
      %ol#message-list
        - @chat_messages.includes(:user).each do |msg|
          %li.chat-message= render partial: "shared/chat_message", locals: {chat_message: msg}
    #message-input
      %form#new-message-form{action: '#'}
        %span
          - if @chat_room.locked?
            - disabled = true
            - placeholder = 'LOCKED'
          - else
            - disabled = current_user.nil?
            - placeholder = 'Message...'
          = label_tag "message-input-box", "Message Body Input", class: "sr-only"
          = text_field_tag "message-input-box", nil, class: "form-control", placeholder: placeholder, disabled: disabled, autocomplete: 'off'
        %span
          = submit_tag "Send", class: "btn btn-primary", id: "btn-message-send", disabled: disabled

  - if @race.creator?(current_user) && !@race.started?
    .col-lg-4.col-xs-12.float-right
      #creator-controls
        = render partial: 'races/admin_table', locals: {race: @race}
