.panel.panel-default
  .panel-heading Active Races
  .panel-body
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Game
          %th Category
          %th Entrants
          %th Status
          %th Time
      %tbody
        - @races.each do |race|
          %tr{'data-href' => "#{race_path(race)}"}
            %td
              .col-md-1
                %img{src: race.game.cover_small}
              .col-md-11
                = race.game.name
            %td
              = race.category.name
            %td
              = race.entrants.count
            %td
              = race.status_text
            %td
              - if race.started?
                .updating-time= race.start_time
              - else
                = "-"
