.panel.panel-default
  .panel-heading= description
  .panel-body
    %table.table.table-striped.table-hover
      %thead
        %tr
          - if cols.include?(:game_cat)
            %th Game & Category
            %th
          - if cols.include?(:entrants)
            %th Entrants
          - if cols.include?(:status_text)
            %th Status
          - if cols.include?(:duration)
            %th Time
          - if cols.include?(:finished)
            %th Finished
      %tbody
        - @races.each do |race|
          %tr{'data-href' => "#{race_path(race)}"}
            - if cols.include?(:game_cat)
              %td
                %img{src: race.game.cover_small}
              %td= link_to "#{race.game.name} - #{race.category.name}", race_path(race)
            - if cols.include?(:entrants)
              %td= race.entrants.count
            - if cols.include?(:status_text)
              %td{class: race_color(race)}= race.status_text
            - if cols.include?(:duration)
              %td
                - if race.finished?
                  .format-time= race.duration
                - elsif race.started?
                  .updating-time{data: {start_time: iso_time_string(race.start_time)}}= race.start_time
                - else
                  = "-"
            - if cols.include?(:finished)
              %td.format-past= iso_time_string(race.start_time)
