= provide(:title, "Search for Games")

.card
  .card-header Games
  .card-body.table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Cover
          %th Name
          %th Shortname
          %th # of Races
      %tbody
        - @games.each do |game|
          %tr
            %td
              %img{src: game.cover_small}
            %td= link_to game.name, game_path(game)
            %td= game.shortname
            %td= game.completed_races.count
  .mx-auto.mb-3
    = paginate @games, theme: 'twitter-bootstrap-4'
