= provide(:title, @game.name)
.row
  %h2.col-lg-9= "#{@game.name} (#{@game.shortname})"
  %img.col-lg-3{src: @game.cover_large}

.row
  .col-lg-12
    %ul.nav.nav-tabs.mb-3#categoryTabs{role: 'tablist'}
      - @game.categories.order(:name).each_with_index do |c, i|
        %li.nav-item
          %a.nav-link{href: "#c#{c.id}", class: "#{i==0 ? 'active' : ''}", id: "#{c.id}-tab", role: 'tab', data: {toggle: 'tab'}}= c.name
    .tab-content#categoryTabsContent
      - @game.categories.order(:name).each_with_index do |c, i|
        - options = {description: "#{c.name} Races", id: "#{c.name}-race-table"}
        .tab-pane.fade{id: "c#{c.id}", class: "#{i==0 ? 'active show' : ''}", role: 'tabpanel'}
          - if current_user.present?
            %h3.center
              %button{'class' => 'btn btn-primary btn-create-race', 'data-category' => "#{c.id}"}
                = "Create Race for #{c.name}"
          - if c.races.newest.count.positive?
            = render partial: 'shared/race_table', locals: race_table_locals(:category_races, c.races.newest, options)
          - else
            %h5.center No races for this category yet, be the first to run it!
