!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= yield(:title) || "SpeedRunRacing!"
    = Gon::Base.render_data
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "application.js", async: Rails.env.production?, defer: Rails.env.production?
    = csrf_meta_tags
    = favicon_link_tag
    = content_for(:html_head)
  %body
    = render 'layouts/header'
    .container
      = render partial: 'shared/alerts'
      = yield
      = render 'layouts/footer'
